.container-deskripsi{
    margin-top: 30px;
    margin-right: 100px;
    margin-left: 100px;
    background-color:#ffffff;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    border-radius: 5%;
    background-color: #91C788;
}
.drug-name{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}
.gallery li {
    width: 255px;
    height: 255px;
    position: relative;
    margin-right: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    margin: auto;
}

.gallery li span {
    display: block;
    background-color: rgba(200,200,200,.5);
    width: 255px;
    height: 255px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    float: center;
    line-height: 170px;
    color: #333;
    text-shadow: 1px 1px 1px #ffffff;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: .3s;
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}

.gallery li img {
    width: 255px;
    height: 255px;
    border-radius: 50%;
}
.audio {
    justify-content: center;
    background-color: #333;
    position: sticky;
}